/* index.css */
:root {
    --main-font-family: 'Rowdies', sans-serif;
    --secondary-font-family: 'Montserrat', sans-serif;
    --main-color: white;
    --bg-image-url: url('assets/bg.jpg');
}


body {
    padding: 0;
    margin: 0;
    font-family: var(--main-font-family); 
    color: var(--main-color); 
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    user-select: none;
}


.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background: var(--bg-image-url) no-repeat center center fixed;
    background-size: cover;
}

/* Navbar styles */
.transparent-navbar {
    background-color: transparent !important; 
}

.center-text {
    font-size: 5rem;
    font-weight: bold; 
    font-family: var(--main-font-family); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center; 
}

.navbar-logo {
    height: 120px;
    width: auto;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-item .nav-link {
    padding: 1.5rem 1rem; 
    font-family: var(--secondary-font-family);
    margin-top: -40px; 
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

.reveal-on-scroll {
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.reveal-on-scroll.visible {
    opacity: 1;
}

.interactive {
    transition: transform 0.3s ease;
}

.interactive.hovered {
    transform: scale(1.05);
}

/* Main content styles */
.main-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

button {
    margin-top: 15px; 
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .navbar-logo {
        height: 80px;
    }
    .center-text {
        font-size: 3rem;
    }
    .nav-item .nav-link {
        padding: 1rem;
        font-size: 1rem;
    }

    .main-content {
        padding: 0.5rem;
    }
}
